<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-12">
        <p>
Hi! I'm Dmitri Tsoy. 
<br><br>An experienced and passionate software engineer, team lead and consultant. 
<br>For me it all started with PHP and HTML some 15+ years ago but quickly shifted to the .NET universe.
<br>I'm very familiar with .NET (up to dotnetcore 3.1), modern client-side frameworks and both SQL and No-SQL databases. I've built a bunch of websites running in the cloud, participated in product development at startups and worked for some of the biggest companies in the Netherlands. 
<br>
<br>Since 2014 I have been a certified scrum master and helped in setting up, running and improving multiple scrum teams.

<br>I do strongly believe in the majority of the funny sounding software related abbreviations such as SOLID, DRY, KISS as well as in the Agile Manifesto.

<br>I am always open to meeting new people and exploring possibilities so do not hesitate to contact me through one of the social networks.

        </p>
      </div>
	
    </div>
  </div>
</section>
