<section id="certifications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Certifications</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    <ul>
                        <li>
                            <div><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="scrum.org" /></div>
                            <div>
                                <div>
                                    <h3>scrum.org</h3>
                                    <p>Professional Scrum Master</p>
                                </div>
                                <p>Dates attended or expected graduation
                                    <time>2014</time> &ndash;
                                    <time>2014</time>
                                </p>
                            </div>

                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr> I have also completed some of the Pluralsight assessments
                </div>
                <div class="pluralsight-item">

                    <div><img src="https://pluralsight2.imgix.net/assessments/images/icons/git-ZTFPuKmPsFw6.png" alt="" />
                        <h3>Git</h3>
                    </div>
                    <div>
                        <div>expert 209</div>
                        <div>84th percentile</div>
                        <div>VERIFIED 1.29.2020</div>
                    </div>

                </div>

                <div class="pluralsight-item">
                    <div><img src="https://pluralsight2.imgix.net/paths/images/devops-18b91372ed.png" alt="" />
                        <h3>Understanding DevOps</h3>
                    </div>
                    <div>
                        <div>expert 257</div>
                        <div>97th percentile</div>
                        <div>VERIFIED 10.14.2019</div>
                    </div>
                </div>

                <div class="pluralsight-item">
                    <div><img src="https://pluralsight.imgix.net/paths/path-icons/csharp-e7b8fcd4ce.png" alt="" />
                        <h3>C#</h3>
                    </div>
                    <div>
                        <div>expert 244</div>
                        <div>95th percentile</div>
                        <div>VERIFIED 10.11.2019</div>
                    </div>
                </div>

                <div class="pluralsight-item">
                    <div><img src="https://pluralsight2.imgix.net/paths/images/visualstudio-2019-62bfdf4c9e.png" alt="" />
                        <h3>Visual Studio 2019</h3>
                    </div>
                    <div>
                        <div>expert 257</div>
                        <div>97th percentile</div>
                        <div>VERIFIED 10.9.2019</div>
                    </div>
                </div>

                <div class="pluralsight-item">

                    <div><img src="https://pluralsight2.imgix.net/paths/images/dot-net-e535ca86d0.png" alt="" />
                        <h3>ASP.NET Core</h3>
                    </div>
                    <div>
                        <div>expert 213</div>
                        <div>86th percentile</div>
                        <div>VERIFIED 2.14.2019</div>
                    </div>
                </div>

                <div class="pluralsight-item">
                    <div><img src="https://pluralsight.imgix.net/paths/path-icons/css-c9b214f0d7.png" alt="" />
                        <h3>CSS</h3>
                    </div>
                    <div>
                        <div>expert 224</div>
                        <div>90th percentile</div>
                        <div>VERIFIED 2.6.2019</div>
                    </div>

                </div>

                <div class="pluralsight-item">
                    <div><img src="https://pluralsight2.imgix.net/paths/images/group-policy-administration-ee0dacafe8.png" alt="" />
                        <h3>Entity Framework Core</h3>
                    </div>
                    <div>
                        <div>expert 204</div>
                        <div>82nd percentile</div>
                        <div>VERIFIED 2.6.2019</div>
                    </div>
                </div>

                <div class="pluralsight-item">
                    <div><img src="https://pluralsight2.imgix.net/assessments/images/icons/windows-ee0dacafe8.png" alt="" />
                        <h3>Visual Studio 2017</h3>
                    </div>
                    <div>
                        <div>expert 254</div>
                        <div>96th percentile</div>
                        <div>VERIFIED 2.1.2019</div>
                    </div>
                </div>

                <div class="pluralsight-item">
                    <div><img src="https://pluralsight2.imgix.net/paths/images/comptia-security-plus-5d8ab8e621.png" alt="" />
                        <h3>Web Application Security</h3>
                    </div>
                    <div>
                        <div>expert 211</div>
                        <div>85th percentile</div>
                        <div>VERIFIED 1.22.2019</div>
                    </div>
                </div>

                <div class="pluralsight-item">
                    <div><img src="https://pluralsight.imgix.net/paths/path-icons/asp-dot-net-862e3669aa.png" alt="" />
                        <h3>ASP.NET MVC5</h3>
                    </div>
                    <div>
                        <div>expert 238</div>
                        <div>93rd percentile</div>
                        <div>VERIFIED 1.22.2019</div>
                    </div>
                </div>

                <div class="pluralsight-item">
                    <div><img src="https://pluralsight.imgix.net/paths/path-icons/jquery-c93ba170c1.png" alt="" />
                        <h3>jQuery</h3>
                    </div>
                    <div>
                        <div>expert 224</div>
                        <div>90th percentile</div>
                        <div>VERIFIED 1.21.2019</div>
                    </div>
                </div>
            </div>
        </div>
</section>
