<section id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Experience</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="experience-item">
                    <div class="experience-image"><img src="https://media-exp1.licdn.com/dms/image/C560BAQHSoCVIxftF-A/company-logo_100_100/0?e=1590624000&amp;v=beta&amp;t=svAd9ZU3pwwI0FFsC-2ldH1tEexyphcwZaFZrXXojKg" alt="Domino's Pizza Enterprises Limited" /></div>
                    <div class="experience-info">
                        <h3>Senior Software Engineer</h3>

                        <h4><a href="https://www.dominos.com.au/" target="_blank">Domino's Pizza Enterprises Limited</a></h4>

                        <h5>Apr 2019 — Present</h5>
                    </div>
                </div>
            </div>
			</div>
        <div class="row">
            <div class="col-sm-12">
                <div class="experience-item">
                    <div class="experience-image"><img src="https://media-exp1.licdn.com/dms/image/C4E0BAQH2kxVJT-AFXw/company-logo_100_100/0?e=1590624000&amp;v=beta&amp;t=RyZFhH-nwQwLKYx7XFNgGKnXYQFKyOjcg0Ibxarru-g" alt="Rabobank" /></div>
                    <div class="experience-info">
                        <h3>Lead Software Developer / Scrum Master</h3>

                        <h4><a href="https://www.rabobank.com/" target="_blank">Rabobank</a></h4>
                        <h5>Nov 2014 — Mar 2019</h5>

                    </div>
                </div>

            </div>
			</div>
        <div class="row">
            <div class="col-sm-12">
                <div class="experience-item">
                    <div class="experience-image"><img src="https://media-exp1.licdn.com/dms/image/C560BAQFhw0lisfxexg/company-logo_100_100/0?e=1590624000&amp;v=beta&amp;t=sXXzhpzt1V2e_a2I8WNjSvdMZcu1VYZfvclpiiaofFw" alt="CXO-Cockpit" /></div>
                    <div class="experience-info">
                        <h3>Development Team Lead</h3>

                        <h4><a href="https://www.cxo-cockpit.com/" target="_blank">CXO-Cockpit</a></h4>

                        <h5>Aug 2011 — Oct 2014</h5>
                    </div>
                </div>

            </div>
			</div>
        <div class="row">
            <div class="col-sm-12">
                <div class="experience-item">
                    <div class="experience-image"><img src="https://media-exp1.licdn.com/dms/image/C4D0BAQGGFMKZA5a4hQ/company-logo_100_100/0?e=1590624000&amp;v=beta&amp;t=lfP19UbcIVVYV3IOPA-IlHgSLVaYOnUwenZQPQ2ZsBI" alt="All Options" /></div>
                    <div class="experience-info">
                        <h3>Software Developer</h3>

                        <h4><a href="https://www.alloptions.nl/" target="_blank">All Options</a></h4>
                        <h5>Nov 2008 — Jan 2010</h5>
                    </div>
                </div>
            </div>
			</div>
        <div class="row">
            <div class="col-sm-12">
                <div class="experience-item">
                    <div class="experience-image"><img src="https://media-exp1.licdn.com/dms/image/C560BAQH7G4ppO5H97A/company-logo_100_100/0?e=1590624000&amp;v=beta&amp;t=QQD1G3jsGL6vsg_EHVdBNUxxnXyW7QgJ8oU3uOQYhv0" alt="EPAM Systems" /></div>
                    <div class="experience-info">
                        <h3>Software Engineer</h3>

                        <h4><a href="https://www.epam.com/" target="_blank">EPAM Systems</a></h4>

                        <h5>Nov 2006 — Sep 2008</h5>

                    </div>

                </div>
            </div>
			</div>
        <div class="row">
            <div class="col-sm-12">
                <div class="experience-item">
                    <div class="experience-image"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Parus Media" /></div>
                    <div class="experience-info">
                        <h3>Senior Software Engineer</h3>

                        <h4><a href="http://mediaidea.ru/" target="_blank">Parus Media</a></h4>
                        <h5>Oct 2004 — Nov 2006</h5>

                    </div>
                </div>
			</div>
			</div>
        <div class="row">
            <div class="col-sm-12">
				
                    <div class="experience-item">
                        <div class="experience-image"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Laboratory Internet" /></div>
                    <div class="experience-info">
                            <h3>Software Engineer</h3>

                            <h4>Laboratory Internet</h4>

                            <h5>Jul 2002 — Dec 2003</h5>

                        </div>

                    </div>


            </div>
        </div>
    </div>
</section>