<section id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Social</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="https://www.linkedin.com/in/irina-yakovich-742b1ab/" target="_blank">
                    <img src="/assets/images/social/linkedin.svg" /></a>

                <a href="https://github.com/dmitritsoy" target="_blank"><img
                        src="/assets/images/social/github.svg" /></a>

                <a href="https://stackoverflow.com/users/2394328/dmitri-tsoy" target="_blank">
                    <img src="/assets/images/social/stackoverflow.svg" /></a>
            </div>
        </div>
    </div>
</section>