* {
    font-family: "Noto sans";
}

body {

    font-size: 0.8em;
}

a {
}

header {
    background-color: #19303E;

    .right-column {
        color: white;

        .name {
            font-size: 30px;
            padding: 0px;
            margin: 0px;
        }

        .title {
            font-size: 14px;
            padding: 0px;
            margin: 0px;
        }
    }
}

.left-column {
    background-color: #DBDCDE;
    padding: 20px;
}

.right-column {
    padding: 20px;
}

#education,
#certifications {
    div.image {
        padding-right: 15px;
    }
}

h2 {
    font-size: 24px;
    //background-color: #DBDCDE;
    //border-radius: 25px;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 0px;

    .left-column & {
        // background-color: white;
    }
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
}

h4 {
    font-size: 1.1em;
}

#pluralsight {
    .pluralsight-item {
        max-width: 100%;
        text-align: left;
        border: 0px;
        display: flex;

        img {
            width: 50px;
            margin-left: -10px;
        }


        h3 {
            font-size: 12px;
        }
    }
}

.aligned-image {
    .image {
        float: left;
        overflow: hidden;
    }

    .right {
        float: right;
    }

    .content {}
}

#contacts {
    div {}

    img {
        width: 30px;
        padding-right: 10px;
        margin-left: 5px;
    }
}

section {
    .experience-item{
        padding-bottom:20px;
    }
    .experience-image {
        float: right;
        margin-right: 20px;
        width: 70px;
        overflow: hidden;
    }

    .experience-item img {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .experience-item:hover img {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }

    .experience-info {

        h5 {
            font-size: 16px;
            font-weight: normal;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
}

/* Remove Hyperlinks */
@media print {
    a
    {
        color:black;
    }
    a:link {
        border-bottom: none !important;
        text-decoration: none !important;
    }
    a[href]:after {
        content: none !important;
    }
    
    header {
        .title, .name {
            color:black
        }
    }
}
