<section id="about">

    <h2>Profile</h2>

    <p>
        Hi! I'm Irina Yakovich.
        <br>
        <br>A results-driven, customer-focused, analytical software engineer with 10+ years of successful experience in the full life cycle of the software development.
         I strongly believe that software development should accommodate the latest techniques and practices.
        <br>
        <br>I participated in various business-critical projects,
        familiar with both SQL and No-SQL databases, modern client-side frameworks, microservices architecture and Kubernetes.
        I have a clean code and quality mindset and enjoy solving complex software engineering problems.
        <br>
        <br>I have a significant and proven experience in leading software development teams and I enjoy motivating and
        guiding my team members.
        <br>
        <br>Since 2016 I have been a <a href="#certifications">professional scrum master</a> with a proven track record of 
        delivering high-quality software, on-time and exceeding the customer expectations.
        <br>
    </p>
    <hr>
</section>
