<section id="about">

    <h2>Profile</h2>

    <p>
        Hi! I'm Dmitri Tsoy.
        <br>
        <br>An experienced and passionate software engineer, team lead and consultant.
        <br>
        <br>I'm very familiar with .NET universe, modern client-side frameworks and both SQL
        and No-SQL databases. I've built a bunch of websites running in the cloud, participated in product
        development at startups and <a href="#experience">worked for some of the biggest and finest companies in the
            Netherlands</a>.
        <br>
        <br>Since 2014 I have been a <a href="#certifications">professional scrum master</a> and helped in
        setting up, running and professionalizing multiple scrum teams.
        <br>
        <br>I have a significant and proven experience in leading software development teams and I enjoy motivating and
        guiding my team members.
        <br>

        <br>I do strongly believe in the majority of the funny sounding software related abbreviations such
        as <a href="https://en.wikipedia.org/wiki/SOLID" target="_blank">SOLID</a>, <a
            href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself" target="_blank">DRY</a>, <a
            href="https://en.wikipedia.org/wiki/KISS_principle" target="_blank">KISS</a> as well as in <a
            href="https://agilemanifesto.org/" target="_blank">the Agile Manifesto</a>.
        <br>
        <br>I am always open to meeting new people and exploring possibilities so do not hesitate to contact
        me through one of <a href="#social">the social networks</a>.

    </p>
    <hr>
</section>