<section id="about">

    <h2>Profile</h2>

    <p>
        Hello! My name is Irina Yakovich.
        <br>
        <br>I am a results-driven, customer-focused, and analytical software engineer with over 10 years of successful experience in the full software development life cycle.
        I am passionate about staying up-to-date with the latest techniques and practices in software development. 
        Rather than adhering to a one-size-fits-all approach, I consider myself a language and platform agnostic engineer, continuously seeking innovative solutions.
        <br>
        <br>Throughout my career, I have actively participated in various business-critical projects, gaining expertise in both SQL and NoSQL databases, 
        modern client-side frameworks, microservices architecture, and Kubernetes.
        I have a clean code and quality mindset and enjoy solving complex software engineering problems. 
        Over the years, I have developed a strong affinity for containerization and robust testing automation practices.
        <br>
        <br>In addition to my technical skills, I have proven experience in leading software development teams. I thrive on motivating and guiding my team members towards success.
        <br>
        <br>Since 2016 I have been a <a href="#certifications">professional scrum master</a> with a proven track record of 
        delivering high-quality software within deadlines and exceeding customer expectations.
        <br>
    </p>
    <hr>
</section>
