<section id="experience">
    <h2>Experience</h2>

    {% assign sorted = (site.data.linkedin.Positions) %}
    {% if page.version == "python" %}
        {% assign sorted = (site.data.linkedin.Positions_python) %}
    {% endif %}
    {% if page.version == "dotnet" %}
        {% assign sorted = (site.data.linkedin.Positions_dotnet) %}
    {% endif %}
    {% if page.version == "architect" %}
        {% assign sorted = (site.data.linkedin.Positions_architecht) %}
    {% endif %}
    {% for position in sorted %}
    {% assign companyInfo = (site.data.linkedinExtra.companies | where: "name" ,position["Company Name"] | first) %}
    {% assign description = (position['Description'] | replace: "Skills", "<br><br><b>Skills</b>"| replace: "•	", "<br>• ")%}
    <div class="row no-break">
        <div class="col-sm-12">
            <div class="experience-item">
                <div class="experience-image"><img src="{{companyInfo['logo']}}" alt="{{position['Company Name']}}"
                        width=70 /></div>
                <div class="experience-info">
                    <h3>{{position['Title']}}</h3>
                    <h4><a href="{{companyInfo['url']}}" target="_blank">{{position['Company Name']}}</a> /
                        {% if position['Finished On'] != null   %}
                        {{position['Started On']}} - {{position['Finished On']}}
                        {% else %}
                        since {{position['Started On']}}
                        {% endif %}
                    </h4>
                    <p>{{ description }}</p>
                </div>
            </div>
        </div>
    </div>


    {% endfor %}
    <hr>
</section>
