<section id="pluralsight">

    <h2>Skills</h2>

    {% for iq in site.data.pluralsight.iq %}
    <div class="pluralsight-item aligned-image">
            <div class="image">
                <img src="{{ iq.icon }}" alt="{{ iq.title }}" />
            </div>
            <div class="content"  align-content="center">
                <br>
                {{ iq.title }}
                <br>
            </div>
            <!--<div><b>{{ iq.level }} {{ iq.score }}</b></div>
                    <div><b>{{ iq.percentile }}</b> percentile</div>-->
    </div>
    {% endfor %}
</section>
<hr>
