<section id="contacts">
    <h2>Contacts</h2>
    <div class="aligned-image">
        <div class="image">
            <a href="https://www.linkedin.com/in/dmitritsoy/" target="_blank"><img
                    src="/assets/images/social/linkedin.webp" /></a>
        </div>
        <div class="content">
            <a href="https://www.linkedin.com/in/dmitritsoy/"
                target="_blank">https://www.linkedin.com/in/dmitritsoy/</a>
        </div>
    </div><br>
    <div class="aligned-image">
        <div class="image">
            <a href="https://github.com/dmitritsoy" target="_blank"><img src="/assets/images/social/github.svg" /></a>
        </div>
        <div class="content">
            <a href="https://github.com/dmitritsoy" target="_blank">https://github.com/dmitritsoy</a>
        </div>
    </div><br>
    <div class="aligned-image">
        <div class="image">
            <a href="mailto:dmitri"><img src="/assets/images/social/email.png" /></a>
        </div>
        <div class="content">
            <a href="mailto:dmitri">dmitri</a>
        </div>
    </div>
    <br>
    <div class="aligned-image">
        <div class="image">
            <img src="/assets/images/social/phone.png" />
        </div>
        <div class="content">
            +316********
        </div>
    </div>
    <hr>
</section>