<section id="contacts">
    <h2>Contacts</h2>
    <div class="aligned-image">
        <div class="image">
            <a href="mailto:irina"><img src="/assets/images/social/email.png" /></a>
        </div>
        <div class="content">
            <a href="mailto:irina">irina</a>
        </div>
    </div><br>
    <div class="aligned-image">
        <div class="image">
            <img src="/assets/images/social/phone.png" />
        </div>
        <div class="content">
            +31********
        </div>
    </div><br>
    <div class="aligned-image">
        <div class="image">
            <a href="https://irina.yakovich.com" target="_blank"><img src="/assets/images/social/website.png" /></a>
        </div>
        <div class="content">
            <a href="https://irina.yakovich.com" target="_blank">https://irina.yakovich.com</a>
        </div>
    </div><br>
    <div class="aligned-image">
        <div class="image">
            <a href="https://www.linkedin.com/in/irina-yakovich-742b1ab/" target="_blank"><img
                    src="/assets/images/social/linkedin.webp" /></a>
        </div>
        <div class="content">
            <a href="https://www.linkedin.com/in/irina-yakovich-742b1ab/"
                target="_blank">https://www.linkedin.com/in/irina-yakovich-742b1ab/</a>
        </div>
    </div><br>

    <hr>
</section>
