<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160052455-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-160052455-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.name }} {{ site.skills }}">
    <meta name="keywords" content="{{ site.keywords }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.canonical_url }}">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/icon.png" sizes="16x16" />

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->

    <link rel="stylesheet" href="/assets/css/cv.css" />

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ site.baseurl }}{{ " /css/fontawesome/css/all.min.css " }}">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4 left-column">
                    <!-- <img src="assets/images/dmitritsoy.jpg" alt="Dmitri Tsoy" width=200 /> -->
                    
                </div>
                <div class="col-md-8 right-column">  <p class="name">Dmitri Tsoy</p>
                    <p class="title">Freelance Lead Software Developer and Scrum Master</p>
               
                </div>
    
            </div>
        </div> 
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 left-column">
                {% include cv/social.html %}

                {% include cv/education.html %}

                {% include cv/certifications.html %}
                {% include cv/pluralsight.html %}
            </div>
            <div class="col-md-8 right-column">
                {% include cv/about_me.html %}

                {% include cv/experience.html %}
                {% include cv/recommendations.html %}
            </div>

        </div>
    </div>



</body>

</html>